.user-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
}
.user-list .create-user {
	display: flex;
	width: 100px;
	justify-content: space-around;
	margin-top: 3px;
	border-radius: 15px;
	cursor: pointer;
}