.edit-message-modal {
	position: fixed;
	top: 60px;
	left: 0;
	/* transform: translate(50%, 50%); */
	width: 100vw;
	height: calc(100vh - 60px);
	background: #e9e9e9b7;
	backdrop-filter: blur(10px);
  border: 1px solid #e0e0e0b7;
	visibility: hidden;
	opacity: 0;
	border-radius: 15px 15px 50% 15px;
  transform: translate(-100%, -100%);
	transition: 1.5s;
}

.edit-message-modal.modal-shown {
	visibility: visible;
	opacity: 1;
	transform: translate(0, 0);
  border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.edit-message-modal .modal{
	width: 500px;
	height: 500px;
	/* border: 5px solid red; */
	border-radius: 25px;
	padding: 20px;
	background: #f1f1f1c0;
	/* backdrop-filter: blur(10px); */
  border: 1px solid #e0e0e0b7;
	top: 0;
	left: 0;
}

textarea.edit-message-input {
	height: 80%;
	width: 100%;
	border-radius: 25px;
	outline: none;
	padding: 20px;
	font-size: 16px;
	resize: none;
}

.edit-buttons {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.edit-message-button, .edit-message-close {
	height: 30px;
	width: 90px;
	font-size: 16px;
	border-radius: 25px;
	margin: 0;
}

.edit-message-close {

}